* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 400px;
    padding-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

input {
    width: 400px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    margin-top: 20px;
}

.messege {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #d60b0b;
}

.none {
    display: none;
}

.error {
    border-bottom: 2px solid #d60b0b;
}